
.body{
    background-color: #1060b0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url(./src/images/fondoAdmin.jpg);
    background-size: cover;
    background-position: center;
}